#footer {
    background-color: #2C2C2C;
    padding-top: 50px;
}
#footer .foot-top {
    padding-bottom: 50px;
}
#footer .foot-bottom {
    border-top: 1px solid #ffffff1c;
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer .foot-bottom p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Crimson Text", serif;
    color: #C8C8C8;
}
#footer h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    font-family: "Crimson Text", serif;
    color: #fff;
    margin-bottom: 30px;
}
#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer ul li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Crimson Text", serif;
    color: #fff;
}
#footer ul.information li {
    margin-bottom: 10px;
}
#footer .contact {
    margin-bottom: 30px;
}
#footer .contact p, #footer .contact p a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Crimson Text", serif;
    color: #fff;
    margin: 0;
}
#footer .social li {
    display: inline-block;
    margin-right: 30px;
}
#footer .social li:last-child {
    margin-right: 0;
}
#footer a {
    text-decoration: none;
}