@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

#root {
  background-color: #000;
  font-family: "Crimson Text", serif;
}

@media (min-width: 1200px) {
  #root .container, #root .container-lg,  #root .container-md, #root .container-sm, #root .container-xl {
    max-width: 1140px;
  }
}